<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs', title) %>
</head>

<body>
    <%- include ('../partials/nav.ejs') %>
        <section id="snakeField"></section>
        <script src="/main.js"></script>
</body>

</html>